

body{
	font-size: 1em;
    color:#fff;
   
   /* background-color: #61122f; */
   background: url('../images/cook-2364221_1920.jpg') no-repeat;
    font-family: 'Oxygen', sans-serif;
}

/*header starts*/

#header-nav{

    background: url('../images/platter-2009590 - Copy.jpg') no-repeat;
	/*background-color: #f6b319; */
	width: 100%;
	border-radius: 0;
    border: 0;

}

#logo-img{
	background: url('../images/restaurant-logo_large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 20px 10px 0px;
}

.navbar-brand{
	padding-top:25px;
	
}


.navbar-brand h1{

	font-family: 'Lora', serif;
    color: #fa1b1b;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
   
}

#star{
	width: 30px;
	height: 30px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-brand p{
	color:#f2ee0a;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-top: 15px;
}

.navbar-brand p span{
	vertical-align: middle;
}

#nav-list {
	

	margin-top: 10px;
	

}

#nav-list a{
	color: #b9f505;
	text-align: center;
	text-decoration: none;
}

/*
#nav-list a:hover{
background: #9fa391;
}*/

#nav-list a span{
	font-size: 1.0em;

}

#phone {
	margin-top: 5px;
  
	font-size: 1.5em;
	margin-left: 15px;

}

#phone a{   
   font-weight: bold;
	text-align: right;
	padding-bottom: 0;
   color: #fcfcf7;
}

#phone div{
	color: #13fc03;
	text-align: right;/*we deliver*/ 
	font-size: 0.8em;

}

#one{
	text-align: center;
	font-size: 1.2em;
  
	margin-right: 5px;
    padding: 5px;

}

#two{
	text-align: center;
	font-size: 1.2em;
    margin-right: 5px;
    padding: 5px;
}

#three{
	text-align: center;
	font-size: 1.2em;
	margin-right: 5px;
    padding: 5px;

	
}
#four{
	text-align: center;
	font-size: 1.2em;
	margin-right: 5px;
    padding: 5px;

}


#one:hover{
	background: #000;
	opacity: 0.9;
	color: #fff;
}

#two:hover{
	background: #000;
	opacity: 0.9;
	color: #fff;
}

#three:hover{
	background: #000;
	opacity: 0.9;
	color: #fff;
}
#four:hover{
	background: #000;
	opacity: 0.9;
	color: #fff;
}

#button-navbar{
	border: 2px solid #fafbfc;


}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#call-btn{
	margin:10px;
}
/*header end */



/*HOME PAGE START*/

/*jumbotron start*/
.container .jumbotron {
  
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}




/********** Large devices only **********/
@media (min-width: 1200px) {
	.container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }


  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }

  #logo-img{
	background: url('../images/restaurant-logo_medium.png') no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 5px 5px 0px;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  	body{
		font-size: 1em;
   		 color:#fff;
   
   		/* background-color: #61122f; */
   		background: url('../images/cook-2364221_1920.jpg');
    	font-family: 'Oxygen', sans-serif;
    	}

  


  .navbar-brand {
    padding-top: 8px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 3vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  .container .jumbotron {
    background: url('../images/jumbotron_580.jpg') no-repeat;
    height: 326px;
  }

  #menu-tile , #Specials-tile{
  	margin:0 auto 15px;
  	width: 360px;
  }

  /*footer media queries*/

  .panel-footer section{
  	margin-bottom: 30px;
  	text-align: center;
  }
  .panel-footer section p:nth-child(3){
  	margin-bottom: 0px;
  }
   
   .panel-footer hr{
   	width: 120px;

   }

  
  .menu-item-photo{
  	margin-right: auto;
  }



}


hr{
	border: 1px solid #fcfafa;

}


.container .jumbotron {
	margin: 0px;
	padding: 0px;
}

/*jumbotron ends */




/*home -tiles*/

#menu-tile , #Specials-tile, #map-tile{
    margin-top: 30px;
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;

}
#menu-tile:hover , #Specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile{
	background: url('../images/menu-tile.jpg');
    background-position: center;
}

#Specials-tile{
	background: url('../images/specials-tile.jpg');
    background-position: center;
}

#menu-tile span, #Specials-tile span, #map-tile span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: 0.8;
}
/*home -tiles end */

/*footer */

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0px;


}

.panel-footer div.row{
	margin-bottom: 35px;
}
 #hours, #address{
 	line-height: 2;
 }

 #hours>span , #address>span{
 	font-size: 1.3em;
 }

#address p{
	line-height: 1.8;
	font-size: 0.9em;
	color: #557c3e;

}

#testimonials{
	font-style: italic;
}

#testimonials p:nth-child(2){
	margin-top: 25px;
}

/*HOME PAGE ENDS*/

.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}

.category-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: 0.8;


}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
.list-group-item active{
   
   color: white;

}

.menu-item-tile{
	margin-bottom: 25px;
}

.menu-item-tile hr{
	width: 80%;

}

.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-top: -15px;
	margin-right: -15px;
}

.menu-item-tile .menu-item-price span{
	font-size: 0.6em;
}

.menu-item-photo{
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	padding: 0;
	margin-right: -15px;
	margin-left: auto;
	margin-bottom: 20px;
	max-width: 250px;

}
.menu-item-photo div{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	background-color: #557c3e;
	text-align: center;
}

.menu-item-description {
	padding-right: 30px;
}

h3.menu-item-title {
	margin:0 0 10px;
}

.menu-item-details{
	font-size: 0.9em;
	font-style: italic;
}

 .group-item-dark{
 	padding: 5px;

 }


 @media (max-width: 576px){

 	.menu-item-photo{
	margin-right: auto;

     }

     .menu-item-tile .menu-item-price{
     	text-align: center;
     }

     .menu-item-description{
     	text-align: center;
     }

 }
